.juiceimage{
    max-width: 100%;
    height: auto;
}
.headings{
    text-align:center;
}
.table th, .table td {
    text-align: center;
  }
.table-styling{
    border: 10px solid green;
}
.caption-styling{
    color:blue;
    text-align:center;
}
